<!DOCTYPE html>
<html>
<head>
    <title>Payment Success</title>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <style>
        body {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            font-family: Arial, sans-serif;
        }

        h1 {
            color: green;
            text-align: center;
        }

        p {
            text-align: center;
            margin-top: 20px;
        }

        .animation-container {
            width: 100px;
            height: 100px;
        }
    </style>
</head>
<body>
    <h1>Payment Success!</h1>
    <p>Thank you for shopping with us!</p>
    <div class="animation-container">
        <lottie-player src="https://lottie.host/a51b8bdd-9616-400c-bdf0-bdfd12e0de9e/dHWRV0xivx.json" background="#fff" speed="1" loop autoplay direction="1" mode="normal"></lottie-player>
    </div>
    <p>Cooking Fresh!!</p>
    <a href="/" class="button">Want to Order More?</a>
    <!-- <script type="text/javascript">
        setTimeout(function () {
            window.location.href = "/";
        }, 15000);
    </script> -->
</body>
</html>
